@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Jost', '@fonts/Jost-Medium', $fw-medium , 'normal');
@include font-face('NotoSans', '@fonts/NotoSansDisplay-Regular', $fw-regular , 'normal');

@include font-face('NotoSans', '@fonts/NotoSansDisplay-Light', $fw-light , 'normal');