@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Roboto', '@fonts/Roboto-Bold', $fw-bold , 'normal');
@include font-face('Roboto', '@fonts/Roboto-Regular', $fw-regular , 'normal');
@include font-face('Roboto', '@fonts/Roboto-Medium', $fw-medium , 'normal');
@include font-face('DS-DIGITAL', '@fonts/DS-DIGITAL-Bold', $fw-medium , 'normal');