.footer {
  overflow: hidden;

  &__wrapper {
    padding-top: 95px;
    padding-bottom: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    @media (max-width:1024px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      justify-items: start;
      gap: 40px;
    }

    @media (max-width:680px) {
      gap: 20px;
    }

    @media (max-width:580px) {
      justify-items: center;
      align-items: start;
      padding-bottom: 40px;
      gap: 10px;
    }

    @media (max-width:512px) {
      justify-items: start;
    }

  }



  &__column {
    display: flex;
    flex-direction: column;

    @media (max-width:1024px) {
      grid-column: span 6;
    }

    @media (max-width:580px) {
      width: 260px;
    }

    @media (max-width:512px) {
      &:first-child {
        grid-column: span 12;
      }

      grid-column: span 6;

      &:last-child {
        grid-column: span 12;
      }

      width: 100%;
    }


    >a,
    p,
    button {
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 10px;
      transition: $tr;
      font-weight: $fw-light;
      font-family: 'NotoSans';
      text-align: left;

      @media (max-width:580px) {
        font-size: 16px;
      }

      &:hover {
        color: $gray;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .footer__logo {
      width: 220px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &-icons {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (max-width:1024px) {
        margin-top: 20px;
      }

      @media (max-width:400px) {
        margin-top: 10px;
      }

      a {
        width: 40px !important;
        height: 40px !important;

        @media (max-width:1024px) {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }

    .link-svg {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;

      svg {
        width: 26px;
        height: 26px;
        margin-right: 20px;
      }
    }
  }
}